<header class="header">
  Form Builder
</header>

<div *ngIf="inputsFormArray.controls.length === 0" class="empty-form">
  Create new form !
</div>

<div class="creator-container">
  <app-input-creator *ngFor="let input of inputsFormArray.controls; let i = index"
                     [control]="input"
                     [index]="i"
                     [nestedLevel]="1"
                     (deleteClicked)="deleteControl($event)"
                     (addSubInputClicked)="addNewSubInputToControl($event)"
                     (typeValueChange)="patchConditionsInChildren($event)">
  </app-input-creator>

  <button (click)="addNewInput()" class="button button-success input-button">
    Add new input
  </button>
</div>

