.input-creator {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
}

.condition-type {
  &-wrapper {
    display: flex;
    width: 70%;
  }
  &-label {
    display: flex;
    align-items: center;
    width: 95px;
  }

  &-input {
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
}
.condition-value-input {
  width: 30%;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.label {
  min-width: 95px;
  font-size: 16px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.actions {
  padding: 0 20px 13px 20px;
  align-self: flex-end;
}


.select {
  appearance: none;

  &-icon {
    width: 50%;
    transform: translate(43%, 58%);
  }

  &-wrapper {
    width: 100%;
    position: relative;
  }

  &-indicator {
    position: absolute;
    pointer-events: none;
    top: 1px;
    right: 0;
    width: 40px;
    height: 41px;
    border-left: 2px solid #aaaaaa;
  }
}

.condition-select {
  width: 65%;
}
